.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.char-container {
  display: inline-block;
  margin: 0 auto;
  padding: 1rem;
  background-color: #242125;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.activity-table {
  width: 100%;
  border-collapse: collapse;
}

.activity-box {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 1px solid #555;
  cursor: pointer;
}

.activity-box.completed {
  background-color: #ffca3a;
}

.activity-box.not-completed {
  background-color: #00c853;
}

.activity-box.unavailable {
  background-color: #e53935;
}

.activity-table td {
  vertical-align: middle;
}

.tr {
  display: table-row;
}

.th:nth-child(1), .td:nth-child(1) {
  width: 20em;
}

.th:nth-child(2), .td:nth-child(2) {
  width: 6em;
}

.th:nth-child(3), .td:nth-child(3) {
  width: 7em;
}

.th {
  font-size: 25px;
}

.th, .td {
  padding: 4px 10px;
  display: table-cell;
}

.container1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

thead > tr > th {
  writing-mode: vertical-rl;
  padding-bottom: 1em;
}

.thwrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

td, th {
  padding: 0;
}